{% extends 'base.jinja' %}

{% block content %}

<!-- Include navigation -->
{% include 'nav.jinja' %}

<h1>{% block title %} Create Passage {% endblock %}</h1>

<form method="post" id="passageForm">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="title" class="form-control"
               value="{{request.form['title']}}"><input>
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" placeholder="passage content" class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">submit</button>
    </div>
</form>
<script>
    document.getElementById('passageForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        let form = this; // Reference to the form

        // Get the username from localStorage
        let username = {{ username }};

        // Append the username as a new input field to the form
        let usernameInput = document.createElement('input');
        usernameInput.type = 'hidden'; // Hidden input field
        usernameInput.name = 'username'; // Set the name attribute
        usernameInput.value = username; // Set the value
        form.appendChild(usernameInput); // Append the input field to the form

        // Submit the form
        form.submit();
    });
</script>
{% endblock %}