<!-- 
    Knowledge Repository page to browse articles
-->
{% extends 'base.jinja' %}

{% block content %} 
<style>
    nav {
        border-bottom: 1px solid black;
        overflow: auto
    }

    main {
        display: flex;
        height: 100%;
    }

    .text  {
        margin-top: 2px;
        margin-bottom: 2px;
    }

</style>

<!-- Include navigation -->
{% include 'nav.jinja' %}

<div class="container">
    {% for messages in get_flashed_messages() %}
    <div class="alter alter-danger">{{ messages }}</div>
    {% endfor %}

    <h1 xmlns="http://www.w3.org/1999/html">{% block title %} Knowledge Repository {% endblock %}</h1>

    {% for post in posts %}
    <a href="{{url_for('post', post_id=post['id'])}}">
        <h2>{{ post['title'] }}</h2>
    </a>

    <span class="badge badge-primary">{{ post['created'] }}</span>
    <a href="{{url_for('edit', post_id=post['id']) }}">
        <span class="badge badge-warning">edit</span>
    </a>

    <hr>
    {% endfor %}
</div>

{% endblock %}
