<!-- 
    Knowledge Repository page to browse articles
-->
{% extends 'base.jinja' %}

{% block content %} 
<style>
    body, html, main {
        background-color: var(--darker-grey);
        color: var(--light-white);
    }
    
    nav {
        border-bottom: 2px solid var(--light-white);
        overflow: auto
    }

    hr {
        border: none; 
        height: 2px; 
        background-color: var(--light-white); 
    }

    main {
        display: flex;
        height: 100%;
        padding: 0 100px;
    }

    .text  {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    h1 {
        text-align: center;
        margin: 20px 0;
    }

    .role {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 20px;
        font-weight: bold;
    }
    
    /* Student */
    .role[role="0"] {
        border: 2px solid green;
        color: green;
    }
    
    /* Staff */
    .role[role="1"] {
        border: 2px solid blue;
        color: blue;
    }
    
    /* Administrator or Admin */
    .role[role="2"], .role[role="3"] {
        border: 2px solid red;
        color: red;
    }

</style>

<!-- Include navigation -->
{% include 'nav.jinja' %}

<main>
    {% for messages in get_flashed_messages() %}
    <div class="alter alter-danger">{{ messages }}</div>
    {% endfor %}

    <h1>{% block title %} Knowledge Repository {% endblock %}</h1>

    {% for post in posts %}
    <a href="{{url_for('post', post_id=post['id'])}}">
        <h2>{{ post['title'] }}</h2>
    </a>
    <div style="margin: 10px;">
        <p style="display: inline; margin-right: 10px;">By {{ post['author'] }}</p>
        <p style="display: inline;" class="role" role="{{ post['role'] }}">
            {% if post['role'] == '0' %}
                student
            {% elif post['role'] == '1' %}
                staff
            {% elif post['role'] == '2' %}
                administrator
            {% elif post['role'] == '3' %}
                admin
            {% else %}
                Unknown Role
            {% endif %}
        </p>
    </div>

    <span class="badge badge-primary">Created: {{ post['created'] }}</span>
    {% if username == post['author'] or role > 0 %}
    <a href="{{url_for('edit', post_id=post['id']) }}">
        <span class="badge badge-warning">edit</span>
    </a>
    {% endif %}

    <hr>
    {% endfor %}

</main>

<script>
    $(document).ready(() => {
        let username = localStorage.getItem("username");
        let roleNum = parseInt(sessionStorage.getItem("role"));
    })
</script>

{% endblock %}
